.card {
    width: 23.85rem;
    height: 8.375rem;
}

.card-content {
    padding: 1.25rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
    align-items: center;
    gap: 1rem;
}

.name {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.name-card-cell {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-s);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.65rem;
    font-size: var(--font-size-caption-l);
}

.date {
    display: flex;
    gap: 0.45rem;
    align-items: center;
}

.color-grey {
    color: var(--lumex-default-400);
}